* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}
.btn-nav {
    padding: 5px 10px;
    font-size: 1.3rem;
    font-weight: bold;
    border-left: 2px solid lightgray;
}
.btn-nav:last-child {
    border-right: 2px solid lightgray;
}
ul {
    list-style: none;
}
header {
    background-color: gray;
}
body {
    background-color: #e7e7e7;
    font-size: inherit;
}
#content {
    display:flex;
}
.main-left-col {
    width: 375px;
}
.main-right-col {
    width: 625px;
}

.large-heading {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;

}
.project-list {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 5px 10px;
    gap: 4px;
}
.project-info-col {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-info-col .top-row{
    display: flex;
    gap: 50px;
   
}
.project-stats {
    display: flex;
    flex-direction: column;
}
.project-card {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 4px;
}
.project-card-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dotted gray;
}
.project-card .project-description {
    padding: 10px 0 5px;
    
}

.project-card .project-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    
}
.project-card .count-text {
    font-size: 1.1rem;
}

.task-display .row-one {
    display: flex;
}
.task-section {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.task-row {
    padding: 8px 0;
    display: flex;
    align-items: center;
    background-color: #c4c4c4;
    border-radius: 10px;
    width: 375px;
    border: 2px solid black;
}
.priority-med {
    background-color: orange;
}
.priority-high {
    background-color: rgb(216, 22, 22);
}
.priority-low {
    background-color:green;
}
.priority-icon {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 4px;
}
.task-title {
    font-weight: bold;
    font-size: 1.1rem;
}
.task-date {
    font-size: 95%;
    margin-right: 5px;
    margin-left: auto;
    
}
.add-task-form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;
    align-items: stretch;
}
textarea {
    resize: none;
    align-self: stretch;
}
input[type="date"]{
    width: 200px;
}

select{
    width: 200px;
}
.container {
    margin-left: 100px;
    width: 1000px;
}
.top-nav {
    display: flex;
}